{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Forum{% endblock %}</title>

  {% block stylesheets %}
    <script src="https://kit.fontawesome.com/768b55194c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
  {% endblock %}
</head>

<body">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="text-muted" href="{{ path('profile')}}">Profile</a>
                {% else %}
                    <a class="text-muted" href="{{ path('app_register')}}">Inscription</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="text-muted" href="{{ path('panel_admin')}}">Admin</a>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{{ path('oc_advert_index')}}">Forum</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                </a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_logout')}}">Déconnexion</a>
                {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_login')}}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main role="main" class="container my-3 p-3 bg-white rounded">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcrumb %}
                {% endblock %}
            </ol>
        </nav>
        {% block body %}
        {% endblock %}
    </main>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    {% endblock %}
</body>
