{# templates/Advert/post.html.twig #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Post{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ path('oc_advert_index')}}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ path('oc_advert_annonces', { 'id' : post.categorie.categorieId })}}">{{post.categorie.catName}}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{post.titre}}</li>
{% endblock %}

{% block body %}
  <div class="container-md">
    <div class="row">
      <div class="col-md">
        <ul class="list-unstyled comment">
          <li>
            <div class="row">
              <div class="col-sm-3">
                <img class="avatar d-none d-md-block" src="http://localhost/teste/Quiz/mooc-symfony4/public/build/images/{{post.user.url_img}}" alt="Alexa Poruch" height="200px" width="200px" />
              </div>
              <div class="col-sm-9">
                <div class="card">
                  <div class="card-header">
                    <div class="row py-3">
                      <div class="mx-3 user">
                        <b>{{ post.titre }}</b>
                        <p>Par <a href="">{{post.user.pseudo}}</a> le {{post.date|format_datetime('full', 'short', locale='fr')}}</p>
                      </div>
                      <div class="ml-auto mr-4">
                        <i class="fas fa-reply" data-toggle="tooltip" title="Ответить"></i>
                      </div>
                    </div>
                  </div><!-- card-header -->
                  <div class="card-body">
                    <p class="card-text">{{ post.content |nl2br}} </p>
                    <div class="row">
                      <div class="ml-auto pr-3">
                        <i class="fas fa-thumbs-up mr-1" data-toggle="tooltip" title="Нравится"></i>
                        <i class="fas fa-thumbs-up fa-rotate-180" data-toggle="tooltip" title="Не нравится"></i>
                      </div>
                    </div>
                  </div><!-- card-body -->
                </div><!-- card -->
              </div><!-- col-9 -->
            </div><!-- row -->
          </li>
        </ul>
      </div>
    </div>
  {% for message_n in message %} 
    <div class="row">
      <div class="col-md">
        <ul class="list-unstyled comment">
          <li>
            <div class="row">
              <div class="col-sm-3">
                <img class="avatar d-none d-md-block" src="http://localhost/teste/Quiz/mooc-symfony4/public/build/images/{{message_n.user.url_img}}" alt="Alexa Poruch" height="200px" width="200px" />
              </div>
              <div class="col-sm-9">
                <div class="card">
                  <div class="card-header">
                    <div class="row py-3">
                      <div class="mx-3 user">
                        <p>Par <a href="">{{message_n.user.pseudo}}</a> le {{message_n.date|format_datetime('full', 'short', locale='fr')}}</p>
                      </div>
                      <div class="ml-auto mr-4">
                        <i class="fas fa-reply" data-toggle="tooltip" title="Ответить"></i>
                      </div>
                    </div>
                  </div><!-- card-header -->
                  <div class="card-body">
                    <p class="card-text">{{ message_n.contenu |nl2br}} </p>
                    <div class="row">
                      <div class="ml-auto pr-3">
                        <i class="fas fa-thumbs-up mr-1" data-toggle="tooltip" title="Нравится"></i>
                        <i class="fas fa-thumbs-up fa-rotate-180" data-toggle="tooltip" title="Не нравится"></i>
                      </div>
                    </div>
                  </div><!-- card-body -->
                </div><!-- card -->
              </div><!-- col-9 -->
            </div><!-- row -->
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      {{ render(controller('App\\Controller\\AdvertController::MessageForm', {'id': post.postId})) }}
    {% endif %}
    
  </div>
  
{% endblock %}