{# templates/user/image.html.twig #}

{% extends "Advert/profil.html.twig" %}

{% block edit1 %}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ path('profile')}}">Retour</a></li>
{% endblock %}

{% block update %}
    {{ form_start(form) }}
        <div class="container">
            <div class="form-group">
                {{ form_row(form.file, {attr: {'class': 'form-control'}}) }}
            </div>
            <button type="submit" class="btn btn-primary mx-auto">
                <i class="fa fa-save" aria-hidden="true"></i> {{ 'Sauvegarder'|trans }}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}